*{
    font-family: 'Roboto', sans-serif;
}

body {
    background: #F1F1F1;
}

.header{
    background-color: #fff;
    font-size: 18px;
    padding-left: 2%;
    padding-right: 2%;
}

.mainnav{
    padding-left: 2%;
    padding-right: 2%;
    border-bottom: #505050;
}

.content{
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 2%;
}

.posts, .profile{
    padding: 1%;
} 

.mainnav{
    background-color: #fafafa;
    font-size: 14px;
}

.mainpost{
    background-color: #fff;
    padding-left: 3%;
    padding-top: 5%;
    padding-right: 3%;
    padding-bottom: 3%;
}

.profileInfo{
    background-color: #ffffff;
}

.profileInfo h1{
    font-size: 18px;
    color: #505050;
}

.contact{
    align-self: center;
}

.socials{
    font-size: 1.5rem;
    padding: 2%;
    color: #505050;
    border: 0;
    background-color: #fff;
}

.nav-link, .profilenav ul li a{
    color: #505050;
    text-decoration: none;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: #505050;
    background-color: #f1f1f1;
    border-radius: 0;
}

.profileInfo h2{
    font-size: 14px;
    color: #8f8f8f;
}

.profilePhoto{
    border-radius: 50%;
    padding: 4%;
    height: 200px;
}

#postPhoto{
    padding-bottom: 2%;
}

.accordion-item{
    border: 0;
}

#textShare{
    resize: none;
    padding: 0;
}

.newpost, .profilenav, .previousPost, .lastPost{
    background-color: #fff;
    margin-top: 3%;
    padding: 0;
}

#accordionMap, #accordionTime{
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 2%;
    background-color: #fff;
    border: #8f8f8f;
}

#accordionTime .accordion-body button{
    background-color: #fff;
    border: 0;
    
}

.accordion-button:not(.collapsed) {
    color: var(--bs-accordion-active-color);
    background-color: #fff;
    box-shadow: inset 0 calc(var(--bs-accordion-border-width) * -1) 0 var(--bs-accordion-border-color);
}

.profilenav ul{
    margin-left: 0;
    padding-left: 0;
}

.accordion{
    --bs-accordion-active-color: #505050;
}

#saveBtn{
    margin-top: 3%;
    margin-bottom: 0;
    padding: 0;
}

.pages ul li{
    font-size: 14px;
}

#mainposttext{
    font-size: 14px;
    margin-bottom: 3%;
}

#maincomment{
    margin-bottom: 2%;
}

.posttime{
    text-decoration: none; 
    color: #505050;
    margin-left: auto;
}

.timerbtn{
    margin-left: auto;
}